.active {
  color: green;
}

body {
  background: #eee;
}

.thread-container {
  padding: 16px 0;
  border-bottom: 1px solid #eee;
}

.thread-info {
  display: inline-block;
}

.thread-count {
  float: right;
  text-align: center;
  margin-left: 10px;
}

.App-header {
  border-top: 4px solid #e7742e;
  padding: 6px;
}

.Header-controls {
  list-style-type: none;
}

.Header-controls > li {
  display: inline-block;
  margin-right: 10px;
}
